.bg {
  position: absolute;
  width: 100%;
  background-color: #070707;
  background: linear-gradient(315deg, #171717 0%, #070707 100%);
  min-height: 100vh;
  overflow-y: hidden;
}

.icon {
  color: #deadad;
}
